.inline-block {
    display: inline-block;
    vertical-align: top;
    padding: 15px;
}

.logo {
    width: 15%;
    padding: 1%;
}

nav {
    width: 73%;
    padding: 1%;
    font-family: 'IBM Plex Sans', sans-serif;
}

ul {
    width: 50%;
    margin-left: auto;
    font-family: 'IBM Plex Sans', sans-serif;
}

.logo {
    text-align: center;
}

.header-photos {
    padding: 15px;
    display: inline-block;
    text-align: center;
    width: 90%;
}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 30px;
}

p {
    font-family: 'IBM Plex Sans', sans-serif;
}

h3 {
    font-family: 'IBM Plex Sans', sans-serif;
}

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
}

footer {
    background-color: rgb(41, 41, 41);
    padding: 15px;
    color: #F9F9F9;
}

footer ul {
    display: inline-block;
    vertical-align: top;
    padding: 1%;
}

section {
    padding: 25px;
}

.workGrid1 {
    display: grid;
    background-color: #2F2F2F;
    grid-template-rows: auto;
    grid-template-columns: 500px;
    grid-template-areas: 
    "image1"
    "text1";
    grid-gap: 10px;
    padding: 30px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.MyWork h2 {
    text-align: center;
}

h4 {
    font-family: 'IBM Plex Sans', sans-serif;
}

#image1 {
    grid-area: image1;
    width: 100%;
    max-height: 100%;
}

#text1 {
    grid-area: text1;
    color: #F9F9F9;
}

.workGrid2 {
    display: grid;
    background-color: #2F2F2F;
    grid-template-rows: auto;
    grid-template-columns: 500px;
    grid-template-areas: 
    "image1"
    "text1";
    grid-gap: 10px;
    padding: 30px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

#image2 {
    grid-area: image1;
}

#text2 {
    grid-area: text1;
    color: #F9F9F9;
}

.MyWork {
    object-position: center;
}

button {
    width: 200px;
    height: 25px;
}

@media only screen and (max-width: 600) {
    .workGrid1 {
        display: grid;
        background-color: #2F2F2F;
        grid-template-rows: auto;
        grid-template-columns: 300px;
        grid-template-areas: 
        "image1"
        "text1";
        grid-gap: 10px;
        padding: 30px;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    .workGrid2 {
        display: grid;
        background-color: #2F2F2F;
        grid-template-rows: auto;
        grid-template-columns: 300px;
        grid-template-areas: 
        "image1"
        "text1";
        grid-gap: 10px;
        padding: 30px;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
}